/* sub css - contact.html */

/*---------------------
Header
----------------------*/
#header{
	background: url('../img/mountains.jpg') center center;
	border-bottom: solid 20px #f3f0e5;
	height: 140px;
	margin-bottom: 200px;
}

#header-child{
	background: url('../img/curvy4.png') repeat;
	z-index: 1;
	height: 160px;
}

.bighex{
	width: 170px;
	padding: 50px 0px;
}

#header-child h2{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3em;
	color: #fff;
	z-index: 2;
	margin: -165px 0px 0px 10px;
}

/*---------------------
Content
----------------------*/

