/* sub css - coaching.html */

/*---------------------
Header
----------------------*/
#header{
	background: url('../img/header-img1.png') center center;
	background-size: 100%;
	opacity: 1;
	height: 160px;
}

#header-child{
	background: url('../img/curvy4.png') repeat;
	z-index: 1;
	height: 160px;
}

#content{
	margin: 0px 0px;
}

#punchline{
	background-color: rgba(240,240,224,0.5);
	height: 110px;
	border-top: solid 10px #692b55;
}

#header h1{
	font-family: 'Roboto Slab', serif;
	text-shadow: 1px 1px 3px #999;
	margin-top: 50px;
	font-size: 3.2em;
}

#content h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #82376a;
	padding-top: 30px;
}

#content h2{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #82376a; 
}

#content .text-emp p{
	font-family: 'Comfortaa', cursive;
	font-size: 1.5em;
	color: #0076dc;
	margin-top: 20px;
	padding: 20px 10px;
}

#content .row{
	margin-top: 30px;	
}

.hexagon{
	width: 65px;
	margin-bottom: 20px;
}

#punchline p{
	text-align: center;
	font-size: 1.1em;
	font-family: 'PT Sans', sans-serif;
	color: rgba(102,102,102,0.8);
}

.bttn{
	padding: 5px 10px;
	text-align: center;
}

.img-energy{
	display: block;
	width: 80%;
	margin: 50px auto;
}

.coaching-img{
	width: inherit;
	margin: 20px;
	padding: 20px;
	background: #fff;
	box-shadow: rgba(153,153,153,0.55) 2px 2px 5px;
}

img[src$="coaching-img3.jpg"]{
	width: 350px;
}